@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html {
    --s: 50px;
    --c: #30333b;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
    background: 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
        radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
        radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
        repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
}

body{
    display: flex;
    font-family: 'Monsterrat', sans-serif;
    min-height: 100vh;
    color: white;
}


/**********************CODE STARTS HERE***************************/


/**********************LOGIN / REGISTER***************************/


.login-container-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 45vh;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 25px 15px rgba(0,0,0,0.1);
}

.login-container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.login-container-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
}

.login-container-body form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.login-container-body input{
    width: 70%;
    height: 3vh;
    padding: 5px;
    margin: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    box-shadow: inset 0px 0px 26px -5px rgba(0,0,0,0.5);
}

.login-container-body button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    height: 5vh;
    width: 30%;
    border-radius: 5px;
    font-size: 18px ;
}

#login-button:hover{
    background: rgba(0, 0, 0, 0,5);
    transition: background .5s;
}

.login-container-footer button{
    background: none;
    border: none;
    outline: none;
    color: rgb(99, 99, 99);
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.alert-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 0, 0, 0.514);
    width: 20%;
    height: 5vh;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

/**********************REGISTER***************************/

.register-container-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 45vh;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 25px 15px rgba(0,0,0,0.1);
}

.register-container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.register-container-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
}

.register-container-body form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register-container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.register-container-body input{
    width: 70%;
    height: 3vh;
    padding: 5px;
    margin: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    box-shadow: inset 0px 0px 26px -5px rgba(0,0,0,0.5);
}

.register-container-body button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    height: 5vh;
    width: 30%;
    border-radius: 5px;
    font-size: 18px ;
}

#register-button:hover{
    background: rgba(0, 0, 0, 0,5);
    transition: background .5s;
}

.register-container-footer button{
    background: none;
    border: none;
    outline: none;
    color: rgb(99, 99, 99);
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}



/********************************BUTTONS***************************************/
.buttons{
	background: #000;
	left: 50%;
    margin-top: 30px;
}

a#link {position: absolute; left: 20px; bottom: 10px; text-decoration: none; color: #555; font-weight: bold;}

.btn,
input[type="submit"]{
	cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.btn-white{
    border:solid 2px #fff;
    background: transparent;
    color: #fff !important;
}
.btn-white:hover{
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f !important;
}

.btn-color{
    background: transparent;
}
.btn-color:hover{
    color: #fff;
}






.hidden{
    display: none;
}